<div class="events-main">
    <h1>Upcoming Events</h1>
    <ul>
    <li><button>{{#link-to 'admin.events.create'}}{{fa-icon 'fa-calendar-plus-o'}}New event{{/link-to}}</button></li>
    {{#each model as |event|}}
        {{#unless event.isNew}}
        <li>
        <h3>{{event.name}}</h3>
        <p>{{event.date}}</p>
        {{#link-to 'admin.events.show' event}}Event Details{{/link-to}}
        </li>
        {{/unless}}
    {{/each}}
    </ul>


</div>
{{!-- {{ember-calendar
    eventsMode=eventsMode
    gridMode='month'
    allEvents=eventList
}} --}}
{{outlet}}
