
<div class='activites'>
    <h4>{{#link-to 'activities'}}Popular Activities{{/link-to}}</h4>
    <ul>
        {{#each model.activities as |activity|}}
            <li>{{fa-icon 'fa-star-o'}} - {{activity.name}}</li>
        {{/each}}
    </ul>
</div>

<div class='events'>
    <h4>{{#link-to 'events'}}Upcoming Events{{/link-to}}</h4>
    <ul>
        {{#each model.events as |event|}}
            <li>{{event.title}}</li>
        {{/each}}
    </ul>
</div>
{{weather-view}}
{{outlet}}

