<div class='activites'>
    <h4>{{#link-to 'activities'}}Popular Activities{{/link-to}}</h4>
    <ul>
        {{#each model.activities as |activity|}}
            <li>{{#link-to 'activities'}}{{fa-icon 'fa-star-o'}} - {{activity.name}}{{/link-to}}</li>
        {{/each}}
    </ul>
</div>

<div class='events'>
    <h4>{{#link-to 'events'}}Upcoming Events{{/link-to}}</h4>
    <ul>
        {{#each model.events as |event|}}
            <li>{{#link-to 'events'}}{{fa-icon 'fa-angle-double-right'}} {{event.title}}{{/link-to}}</li>
        {{/each}}
    </ul>
</div>

{{weather-view weather}}
{{outlet}}

