<div>
    <h3>{{model.name}}</h3>
    <p>Location: {{model.location}}</p>
    Date: {{model.date}}
    <p>Price: {{model.price}} - <a href="{{model.url}}">{{model.url}}</a></p>
    <p>Description: {{model.description}}</p>

</div>

<div>
    {{#link-to 'admin.events.edit' model}}{{fa-icon 'fa-pencil-square-o'}}{{/link-to}}
    <a href="#"{{action 'delete' model}}>{{fa-icon 'fa-times'}}</a>
</div>

{{outlet}}
