{{!-- <div class="events-main">

    <h4>Upcoming Events</h4>
    <ul>
    {{#if session.isAuthenticated}}
    <li><button>{{#link-to 'events.create'}}{{fa-icon 'fa-calendar-plus-o'}}New event{{/link-to}}</button></li>
    {{else}}
    {{/if}}
    {{#each model as |event|}}
        {{#unless event.isNew}}
        <li>
        <h3>{{event.title}}</h3>
        <p>{{event.date}}</p>
        {{#link-to 'events.show' event}}Event Details{{/link-to}}
        </li>
        {{/unless}}
    {{/each}}
    </ul>

</div>

<div class="calendar">

{{as-calendar
  title="Upcoming Events"
  occurrences=model
  showTimeZoneSearch=false
  dayStartingTime="9:00"
  dayEndingTime="23:00"
  timeSlotDuration="00:30"
  onAddOccurrence="calendarAddOccurrence"
  onUpdateOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"}}
</div>











{{!-- {{yield}} --}}
