<div id="form">
<form class="activity-form" {{action 'save' on='submit'}}>
<label for="activity-name">Name</label>
  {{input type='text' value=name}}

<label for="activity-category">Category</label>
{{#x-select value=activity.category action="selectionsChanged"}}
    <option>Please Select a Category...</option>
    {{#each categories.data as |category|}}
        {{#x-option value=category}}{{category}}{{/x-option}}
    {{/each}}
{{/x-select}}
{{!--   {{input type='text' value=category}} --}}
<label for="activity-location">Location</label>
  {{input type='text' value=location}}
<label for="activity-phone">Phone</label>
  {{input type='text' value=phone}}

<label for="activity-url">Website</label>
  {{input type='text' value=url}}

    <button id='save' type='submit'>Save</button>
</form>
</div>
