
{{!-- {{login-form user=model save='save'}} --}}

<div id="form">
<form class="login-form" {{action 'login' email password on='submit'}}>
<label for="login-email">Email</label>
  {{input type='text' value=email}}

<label for="login-password">Password</label>
  {{input type='password' value=password}}

    <button id='save' type='submit'>Login</button>

<p>New User? {{link-to 'Signup' 'signup'}} for an account</p>
</form>
</div>

