
{{!-- {{login-form user=model save='save'}} --}}

<div id="form">
<form class="login-form" {{action 'login' username password on='submit'}}>
<label for="login-username">Username</label>
  {{input type='text' value=username}}

<label for="login-password">Password</label>
  {{input type='password' value=password}}

    <button id='save' type='submit'>Login</button>
</form>
</div>

{{#if session.currentUser}}
  <h3>Logged In User</h3>

  <p><strong>Email: </strong>{{session.currentUser.email}}</p>
  <p><strong>Username: </strong>{{session.currentUser.username}}</p>
{{/if}}
