
{{!-- {{login-form user=model save='save'}} --}}

<div id="form">
<form class="login-form" {{action 'login' email password on='submit'}}>
<h2>Login</h2>
<label for="login-email">Email</label>
  {{input type='text' value=email}}

<label for="login-password">Password</label>
  {{input type='password' value=password}}

    <button id='save' type='submit'>Login</button>

<p>New User? {{link-to 'Sign Up' 'signup'}} for an account</p>
</form>


    <div class="image">
        <img src="/images/activities1.jpg" alt="activities">
    </div>

</div>
