<div>
    <h3>{{model.name}}</h3>
    <p>Location: {{model.location}}</p>
    Date: {{model.date}}
</div>

<div>
    {{#link-to 'events.edit' model}}{{fa-icon 'camera'}}Edit{{/link-to}}
    <a href="#"{{action 'delete' model}}>Delete</a>
</div>

{{outlet}}
