<div class="section">
<div class='events-detail'>
    <p><h2>{{model.title}}</h2></p>
    <p>Location: {{model.location}}</p>
    <p>Date: {{moment-format model.start 'MMM Do, hh:mm A' 'YYYY-MM-DD hh:mm'}} - {{moment-format model.end 'hh:mm A' 'YYYY-MM-DD hh:mm'}}</p>
    <p>Price: {{model.price}}</p>
    <p>Website: <a href="{{model.url}}">{{model.url}}</a></p>
    <p>Description: {{model.description}}</p>

    <div class='events-edit'>
        {{#if session.isAuthenticated}}
        {{#link-to 'events.edit' model}}{{fa-icon 'fa-pencil-square-o'}}{{/link-to}}
        <a href="#"{{action 'delete' model}}>{{fa-icon 'fa-times'}}</a>
        {{else}}
        {{/if}}
    </div>
</div>

    <div class='comments'>
            {{disqus-comments identifier=model.id title=model.name}}
    </div>
</div>

{{outlet}}

