<div>
    <h4>{{model.name}}</h4>
    <p>{{model.location}}</p>
    <p>{{model.date}}</p>
</div>

<div>
    {{#link-to 'events.edit' model}}Edit{{/link-to}}
    <a href="#"{{action 'delete' model}}>Delete</a>
</div>

{{outlet}}
