{{!-- <div class="activities-list"> --}}
{{!-- <div class='activities-image'>
    <img src="/images/activities.gif" alt="Activities">
</div> --}}
{{!-- {{#each categories as |category|}} --}}
<ul>
    <h2>{{category.name}}</h2>



{{#each model as |activity|}}
    <div class="activities-list">
    {{#unless activity.isNew}}
    <li>
    {{#link-to 'activities.show' activity}}
        <p>{{activity.name}}</p>
    {{/link-to}}
        <p>{{activity.location}}</p>
        <p>{{activity.phone}}</p>

    </li>
    {{/unless}}
       </div>
{{/each}}
</ul>
{{!-- </div> --}}


{{outlet}}
