<nav>
{{!--     {{#if session.isAuthenticated}}
    {{#link-to 'dashboard'}}{{fa-icon 'fa-home'}}After-School Activities{{/link-to}}
    {{else}}
    {{#link-to 'index'}}{{fa-icon 'fa-home'}}After-School Activities{{/link-to}}
    {{/if}} --}}

    <ul>
    {{#if session.isAuthenticated}}
    {{#link-to 'dashboard'}}{{fa-icon 'fa-home'}}After-School Activities{{/link-to}}
    <li>{{#link-to 'activities'}}Activities{{/link-to}}</li>
    <li>{{#link-to 'events'}}Events{{/link-to}}</li>
    {{else}}
    <li>{{#link-to 'index'}}{{fa-icon 'fa-home'}}After-School Activities{{/link-to}}</li>
    <li>{{#link-to 'activities'}}Activities{{/link-to}}</li>
    <li>{{#link-to 'events'}}Events{{/link-to}}</li>
    <li>{{link-to 'Login' 'login'}}</li>
    <li>{{link-to 'Signup' 'signup'}}</li>
    <li>{{link-to 'Admin' 'admin'}}</li>

    {{/if}}
</ul>
</nav>
{{!-- <div class="background"></div> --}}
<div class="page-wrap background">
    {{outlet}}
</div>

<footer class="site-footer">
    <ul>
        <li>{{fa-icon 'fa-copyright'}} Copyright 2015</li>
        <li><a href="https://twitter.com/">{{fa-icon 'fa-twitter'}}</a></li>
        <li><a href="https://instagram.com/">{{fa-icon 'fa-instagram'}}</a></li>
        <li><a href="#">{{fa-icon 'fa-github'}}</a></li>
    </ul>
</footer>



{{md-modal-container}}
