<form class="event-form" {{action 'save' on='submit'}}>
<label for="event-name">Name</label>
  {{input type='text' value=name}}

<label for="event-category">Category</label>
  {{input type='text' value=category}}

<label for="event-location">Location</label>
  {{input type='text' value=location}}

<label for="event-date">Event Date</label>
  {{input type='text' value=date}}

    <button type='submit'>Save</button>
</form>
