<div id="form">
<form class="event-form" {{action 'save' on='submit'}}>
<h2>New Event</h2>
<label for="event-title">Name</label>
  {{input type='text' value=title required=true}}

<label for="event-location">Location</label>
  {{input type='text' value=location required=true}}

<label for="event-date">Event Start Date</label>
{{input type='text' placeholder='ex: 2015-09-09 09:00' value=start required=true}}
{{!-- {{pick-a-date date=data.start placeholder="Pick a date"}}
{{pick-a-time date=data.start placeholder="Pick a time"}} --}}

<label for="event-price">Event End Date</label>
{{input type='text' placeholder='ex: 2015-09-09 09:00' value=end required=true}}
{{!-- {{pick-a-date date=data.end placeholder="Pick a date"}}
{{pick-a-time date=data.end placeholder="Pick a time"}} --}}

<label for="event-url">Website</label>
  {{input type='text' value=url required=true}}

<label for="event-price">Price</label>
  {{input type='text' value=price}}

<label for="event-description">Description</label>
  {{input type='text' value=description required=true}}

    <button type='submit'>Save</button>
</form>
</div>
